body{
  padding:0;
  margin:0;
  font-size:18px;
  background-color:white;
}

.title{
  font-size:4em;
  text-align:center;
  color:lightgreen;
  font-weight:bold;
}

.board{
  border:5px solid black;
  border-radius:3px;
  display:flex;
  flex-wrap:wrap;
  width:760px;
  height:460px;
  margin:auto;
}

.cell{
  display:inline-block;
  box-sizing: border-box;
  width:15px;
  height:15px;
  border:0.5px solid black;
}

.alive{
  background-color: rgb(95,231,95);
}

.empty{
  background-color: white;
}

.controls{
  display: flex;
  justify-content: center;
}

.btn{
  margin:3px;
}

.generation{
  text-align: center;
  font-size:25px;
}

.footer{
  text-align:center;
  margin:auto;
}
